html {
  /* This property makes the html
  page to scroll smoothly */
  /* If you want to directly move to the
  section without scrolling, remove
  this scroll-behavior property*/
  scroll-behavior: smooth;
  background-color: #232323;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#background {
  display: flex;
  z-index: 0;
  /* background-color: rgb(255, 253, 233); */
  background-color: rgb(255, 255, 255);
}

.background-image-1 {
  flex: 1;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: center;
  animation: crossfade1 20s linear infinite;
  z-index: 0;
}

@keyframes crossfade1 {
  0% {
    opacity: 1;
    background-image: url(image1.jpg);
  }
  18% {
    opacity: 1;
    background-image: url(image1.jpg);
  }
  18.5% {
    opacity: 0;
    background-image: url(image1.jpg);
  }
  19% {
    opacity: 0;
    background-image: url(image2.jpg);
  }
  19.5% {
    opacity: 1;
    background-image: url(image2.jpg);
  }
  41% {
    opacity: 1;
    background-image: url(image2.jpg);
  }
  41.5% {
    opacity: 0;
    background-image: url(image2.jpg);
  }
  42% {
    opacity: 0;
    background-image: url(image3.jpg);
  }
  42.5% {
    opacity: 1;
    background-image: url(image3.jpg);
  }
  64% {
    opacity: 1;
    background-image: url(image3.jpg);
  }
  64.5% {
    opacity: 0;
    background-image: url(image3.jpg);
  }
  65% {
    opacity: 0;
    background-image: url(image4.jpg);
  }
  65.5% {
    opacity: 1;
    background-image: url(image4.jpg);
  }
  87% {
    opacity: 1;
    background-image: url(image4.jpg);
  }
  87.5% {
    opacity: 0;
    background-image: url(image4.jpg);
  }
  88% {
    opacity: 0;
    background-image: url(image1.jpg);
  }
  88.5% {
    opacity: 1;
    background-image: url(image1.jpg);
  }
  100% {
    opacity: 1;
    background-image: url(image1.jpg);
  }
}

.background-image-2 {
  flex: 1;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: center;
  animation: crossfade2 20s linear infinite;
  z-index: 0;
}

@keyframes crossfade2 {
  0% {
    opacity: 1;
    background-image: url(image5.jpg);
  }
  18.5% {
    opacity: 1;
    background-image: url(image5.jpg);
  }
  19% {
    opacity: 0;
    background-image: url(image5.jpg);
  }
  19.5% {
    opacity: 0;
    background-image: url(image6.jpg);
  }
  20% {
    opacity: 1;
    background-image: url(image6.jpg);
  }
  41.5% {
    opacity: 1;
    background-image: url(image6.jpg);
  }
  42% {
    opacity: 0;
    background-image: url(image6.jpg);
  }
  42.5% {
    opacity: 0;
    background-image: url(image7.jpg);
  }
  43% {
    opacity: 1;
    background-image: url(image7.jpg);
  }
  64.5% {
    opacity: 1;
    background-image: url(image7.jpg);
  }
  65% {
    opacity: 0;
    background-image: url(image7.jpg);
  }
  65.5% {
    opacity: 0;
    background-image: url(image8.jpg);
  }
  66% {
    opacity: 1;
    background-image: url(image8.jpg);
  }
  87.5% {
    opacity: 1;
    background-image: url(image8.jpg);
  }
  88% {
    opacity: 0;
    background-image: url(image8.jpg);
  }
  88.5% {
    opacity: 0;
    background-image: url(image5.jpg);
  }
  89% {
    opacity: 1;
    background-image: url(image5.jpg);
  }
  100% {
    opacity: 1;
    background-image: url(image5.jpg);
  }
}

.background-image-3 {
  flex: 1;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: center;
  animation: crossfade3 20s linear infinite;
  z-index: 0;
}

@keyframes crossfade3 {
  0% {
    opacity: 1;
    background-image: url(image9.jpg);
  }
  19% {
    opacity: 1;
    background-image: url(image9.jpg);
  }
  19.5% {
    opacity: 0;
    background-image: url(image9.jpg);
  }
  20% {
    opacity: 0;
    background-image: url(image10.jpg);
  }
  20.5% {
    opacity: 1;
    background-image: url(image10.jpg);
  }
  42% {
    opacity: 1;
    background-image: url(image10.jpg);
  }
  42.5% {
    opacity: 0;
    background-image: url(image10.jpg);
  }
  43% {
    opacity: 0;
    background-image: url(image11.jpg);
  }
  43.5% {
    opacity: 1;
    background-image: url(image11.jpg);
  }
  65% {
    opacity: 1;
    background-image: url(image11.jpg);
  }
  65.5% {
    opacity: 0;
    background-image: url(image11.jpg);
  }
  66% {
    opacity: 0;
    background-image: url(image12.jpg);
  }
  66.5% {
    opacity: 1;
    background-image: url(image12.jpg);
  }
  88% {
    opacity: 1;
    background-image: url(image12.jpg);
  }
  88.5% {
    opacity: 0;
    background-image: url(image12.jpg);
  }
  89% {
    opacity: 0;
    background-image: url(image9.jpg);
  }
  89.5% {
    opacity: 1;
    background-image: url(image9.jpg);
  }
  100% {
    opacity: 1;
    background-image: url(image9.jpg);
  }
}
/* 
.topbar {
  z-index: 3;
  width: 100%;
}
.toplogo {
  flex: 1;
  z-index: 3;
  float: left;
} */
/* Add a black background color to the top navigation */
.topnav {
  width: 100%;
  position: fixed;
  background-color: rgba(250, 250, 250, 1);
  overflow: hidden;
  z-index: 3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fae64c;
  color: black;
}

#foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#logo {
  margin-bottom: 20px;
}

#contact-details {
  margin-bottom: 20px;
}

#services {
  margin-bottom: 10px;
}

#about-us {
  margin: auto;
}

#about-us-2 {
  margin: 10px;
}

.link {
  margin-top: 20px;
}

/* Services section begin */
.services-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 0;
  background-color: #f3f2eb;
}

.services-title {
  color: black;
  margin-top: 80px;
  font-size: 48px;
  width: 1000px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
}

.services-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1000px;
  bottom: 0px;
  height: 650px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.services-container-1-1 {
  top: 110px;
  flex: 0 0 auto;
  left: 77px;
  width: 250px;
  height: 200px;
  display: flex;
  position: absolute;
  box-shadow: 10px 10px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 20px;
  background-color: white;
  background-image: url(remodelling.png);
}
.services-container-1-2 {
  top: 110px;
  flex: 0 0 auto;
  left: 377px;
  width: 250px;
  height: 200px;
  display: flex;
  position: absolute;
  box-shadow: 10px 10px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 20px;
  background-color: white;
  background-image: url(painting.png);
}
.services-container-1-3 {
  top: 110px;
  flex: 0 0 auto;
  left: 677px;
  width: 250px;
  height: 200px;
  display: flex;
  z-index: 100;
  position: absolute;
  box-shadow: 10px 10px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 20px;
  background-color: white;
  background-image: url(office-maintenance.png);
}
.services-container-2-1 {
  top: 360px;
  flex: 0 0 auto;
  left: 77px;
  width: 250px;
  height: 200px;
  display: flex;
  position: absolute;
  box-shadow: 10px 10px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 20px;
  background-color: white;
  background-image: url(flooring.png);
}
.services-container-2-2 {
  top: 360px;
  flex: 0 0 auto;
  left: 377px;
  width: 250px;
  height: 200px;
  display: flex;
  position: absolute;
  box-shadow: 10px 10px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 20px;
  background-color: white;
  background-image: url(blinds.png);
}
.services-container-2-3 {
  top: 360px;
  flex: 0 0 auto;
  left: 677px;
  width: 250px;
  height: 200px;
  display: flex;
  position: absolute;
  box-shadow: 10px 10px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 20px;
  background-color: white;
  background-image: url(ac.png);
}
.text-1-1 {
  top: 10px;
  left: 10px;
  right: 0px;
  position: absolute;
  font-size: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text-1-2 {
  top: 10px;
  left: 10px;
  right: 0px;
  position: absolute;
  font-size: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text-1-3 {
  top: 10px;
  left: 10px;
  right: 0px;
  position: absolute;
  font-size: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text-2-1 {
  top: 10px;
  left: 10px;
  right: 0px;
  position: absolute;
  font-size: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text-2-2 {
  top: 10px;
  left: 10px;
  right: 0px;
  position: absolute;
  font-size: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: auto;
  text-transform: capitalize;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text-2-3 {
  top: 10px;
  left: 10px;
  right: 0px;
  position: absolute;
  font-size: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: auto;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Services section begin */

/* Testimonials and Contacts section begin */
.testimonials-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 200vh;
  z-index: 0;
  background-color: #232323;
}
.testimonials-section {
  width: 100%;
  height: 70%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  z-index: 0;
}
.testimonials-title {
  color: rgb(255, 255, 255);
  margin-top: 80px;
  font-size: 48px;
  width: 1000px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
}
.testimonials-div {
  top: 25vh;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 500px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.testimonials-div-1-1 {
  top: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  left: 48px;
  width: 340px;
  height: 175px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}
.testimonials-div-1-2 {
  top: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  left: 430px;
  width: 340px;
  height: 175px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}
.testimonials-div-1-3 {
  top: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  left: 812px;
  width: 340px;
  height: 175px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}
.testimonials-div-2-1 {
  top: 270px;
  flex: 0 0 auto;
  left: 48px;
  width: 340px;
  height: 175px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}
.testimonials-div-2-2 {
  top: 270px;
  flex: 0 0 auto;
  left: 430px;
  width: 340px;
  height: 175px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}
.testimonials-div-2-3 {
  top: 270px;
  flex: 0 0 auto;
  left: 812px;
  width: 340px;
  height: 175px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}
.testimonials-text {
  top: 0px;
  left: 0px;
  color: #ffffff;
  margin: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  text-align: center;
}
.text06 {
  top: 0px;
  left: 0px;
  color: #ffffff;
  margin: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  text-align: center;
}
.text07 {
  top: 0px;
  left: 0px;
  color: #ffffff;
  margin: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  text-align: center;
}
.text08 {
  top: 0px;
  left: 0px;
  color: #ffffff;
  margin: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  text-align: center;
}
.text09 {
  top: 0px;
  left: 0px;
  color: #ffffff;
  margin: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  text-align: center;
}
.text10 {
  top: 0px;
  left: 0px;
  color: #ffffff;
  margin: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  text-align: center;
}

.contacts-section {
  top: 300vh;
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 40vh;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 0;
  background-color: #ababab;
}
.contact-us-title {
  color: black;
  margin-top: 40px;
  font-size: 48px;
  width: 1000px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
}
.contacts-text-1 {
  top: 124px;
  left: 0px;
  right: 0px;
  position: absolute;
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}
.contacts-text-2 {
  top: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  text-align: center;
}
.contacts-text-3 {
  top: 172px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  text-align: center;
}
.contacts-text-4 {
  top: 194px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  text-align: center;
}
.contacts-text-5 {
  top: 248px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 12px;
  text-align: center;
}
.contacts-text-6 {
  top: 262px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 12px;
  text-align: center;
}
